@inherits LayoutComponentBase
<link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/app.css"/>
<div class="page"> 
    
    <main>     
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
